[Unit]
Description=Start Bluetooth discovery for SkateBack
After=bluetooth.target

[Service]
Type=simple
ExecStart=/bin/bash /home/pi/skateback-app/skateback-pi/scripts/setup-bluetooth.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
